%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary{:style => "background-color: #e3f2fd;"}
  .collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - if current_user
        %li.nav-item
          = link_to current_user.email, nil, class: 'nav-link'
        %li.nav-item
          = link_to 'Sign out', sign_out_path, class: 'nav-link', method: :delete
